body {
  background-color: orange;
  color: white;
}

h1 {
  text-align: center;
}

button {
  padding: 8px;
  border-radius: 5px;
  background-color: violet;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}